* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}
section{
  padding: 2rem 10rem;
}
hr{
  opacity: .125;
}
/* header styles */

#header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
logo {
  font-size: 2.5rem;
  font-weight: 700;
}
navlinks {
  display: flex;
  gap: 2.5rem;
}

#button {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}
.purple-text {
  color: var(--purple-color);
}
h1{
  font-size: 5rem;
  color: #fff;
  max-width: 40%;
  font-weight: 700;

}

p{
  color: #fff;
}